<template>
  <div>
    <div class="menubanner">
       <router-link to="/menu/menubanner?label=内容一">内容1</router-link>
       <router-link to="/menu/menubanner?label=内容二">内容2</router-link>
       <router-link to="/main">回到首页</router-link>
       <button @click="jump">查看个人信息</button>
    </div>
    <div class="menucontent">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default{
  data(){

  },
  methods:{
    jump:function(){
      this.$router.push({path:'/perinfor'});
    }
  }
}
</script>

<style>
.menubanner{
  float: left;
  width: 60px;
  height: 200px;
  background-color: #528CE0;
}
.menucontent{
  float: left;
  width: 60px;
  height: 200px;
  background-color: #006600;
}
</style>
